{% extends 'base.html' %}
{% block content %} 
<div>
    {% set var = session.col.database_name + '_' + session.col.col_name %}
    <span class="float-left" style="font-weight: bold; color: blue;" ><span>{{session.db.host}}</span>:{{session.db.port}}</span>
    <br/>
    <span class="float-left" style="font-weight: bold; " ><span style="color: blue;">{{session.col.database_name}}</span>.{{session.col.col_name}}</span>
    <span class="float-right" style="font-weight: bold;" >Documents {{session.col.count}}</span>
    <br/>
    <span class="float-right" style="font-weight: bold;" >Indexes {{g.current_col[1][var]}}</span>
    <br/>
</div>
    {% include 'macro.html' %}  
    <div class="row">
        <div class="col">  
    <br />
    <div style="padding: 1%;">
        <button onclick="function_regular()">options</button>
    </div>
     <div>
<form role="form" method="POST" action="{{url_for('collection.filter_regulars',database_name = database_name, col_name = col_name)}}">  


<input input onkeyup="manage_regular(this)" id="txt_regular" type="text" class="form-control" name="input_field" placeholder='{ "field" : { "$regex" : "pattern" } }'pattern = '(\s*){0,20}\{(\s*){0,20}"(\s*){0,20}([a-zA-Z0-9._%+-]+)(\s*){0,20}"(\s*){0,20}:(\s*){0,20}\{(\s*){0,20}"(\s*){0,20}([$regex]+)(\s*){0,20}"(\s*){0,20}:(\s*){0,20}"(\s*){0,20}(.{1,50})(\s*){0,20}"(\s*){0,20}\}(\s*){0,20}\}(\s*){0,20}' required>     


<div id = "demo_regular">
</div>
<br />
<input id="bt_regular" type="submit" class="btn btn-lg btn-primary"   value="Send Query" name ="Send Query" disabled/>

</form> 
</div>

</div>
<div class="col scroll" style="width: 50px;">

</br>                   
{% if colls|length != 0 %}        
<ul class="list-group">
  {% for i in colls %}
  <li class="list-group-item" style="word-wrap: break-word; font-size: 13px;">
    {% for key, value in i.items() %}
    {% if key == '_id' %}
    <b>{{key}}</b>:<mark class="red">ObjectId("{{value}}")</mark>
    <button  class="current float-right" value="/manage_collection/{{session.col.database_name}}/{session.col.database_name}}/{{value}}/delete_one"  data-toggle="modal" data-target="#exampleModal3" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;
    outline:none;" title="delete document" ><i class="fa fa-trash-o"></i></button>
    <button  class="current7 float-right" data-toggle="modal" data-target="#exampleModal7" value="/manage_collection/{{session.col.database_name}}/{{session.col.col_name}}/{{value}}/update_one" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;
    outline:none;" title="update document" ><i class="fa fa-edit"></i></button>
    {% else %}
    {% if value is string %}
    <b>{{key}}</b>:<mark class="blue">"{{value}}"</mark>
    {% else %}
    <b>{{key}}</b>:<mark class="blue">{{value}}</mark>
    {% endif %}
    {% endif %}
    <br />
    {% endfor %}
  </li>
  {% endfor %}
</ul>


 {% else %}
    <h3> the collection is empty</h3>
{% endif %}

</br>
<nav class="nav justify-content-center" >
<ul class="pagination" >
<li class="page-item"><a class="page-link" href="{{link_previous}}">Previous</a></li>
{%if page < 3 %}
{%for j in range(([max_pages,5]|sort)[0])%}
<li class="page-item"><a class="page-link" href="{{url_for('collection.filters',page=j+1, col_name=i , database_name = key)}}">{{j+1}}</a></li>
{%endfor%}
{% elif page >= 3 and page+2 <= max_pages %}
{%for j in range(-2,3,1)%}
<li class="page-item"><a class="page-link" href="{{url_for('collection.filters',page=page+j, col_name=i , database_name = key)}}">{{page+j}}</a></li>
{%endfor%}
{% elif 3 <= page <=4 and  max_pages <=5 %}
{%for j in range(max_pages)%}
<li class="page-item"><a class="page-link" href="{{url_for('collection.filters',page=j+1, col_name=i , database_name = key)}}">{{j+1}}</a></li>
{%endfor%}
{% elif page > 3 and page+2 > max_pages %}
{%for j in range(max_pages-4,max_pages+1,1)%}
<li class="page-item"><a class="page-link" href="{{url_for('collection.filters',page=j, col_name=i , database_name = key)}}">{{j}}</a></li>
{%endfor%}

{%endif%}

<li class="page-item"><a class="page-link" href="{{link_next}}">Next</a></li>
<li class="page-item" ><a class="page-link" style="color: black;" href="#">Of {{max_pages}}</a></li>
</ul>
</nav>

{% include 'choice/update.html' %}
{% include 'choice/delete_one_document.html' %}
</div>
</div>
<script>
  $(".current").click(function()
  {
      link=$(this).val()
      action=$("#exampleModal3").find('form ').attr('action',link);
      console.log(db)
      });
  
  $(".current7").click(function()
  {
      link=$(this).val()
      action=$("#exampleModal7").find('form ').attr('action',link);
      console.log(db)
      });
  </script>
{% endblock content %}